.main {
  background-color: #f3f2f5;
}

.App-header {
  background-color: #1b3b5d;
}

.App {
  text-align: center;
}

.App-logo {
  /* background-image: url("../immagini/camerino.png");
  background-repeat: no-repeat;
  background-size: cover; */
}

.App-footer {
  background-color: #1b3b5d;
}

.home {
  /* margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px; */
  padding-bottom: 100px;
}
