@media only screen and (min-devicewidth: 1224px) {
  .main {
    background-color: #f3f2f5;
    padding-left: 0px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1224px) {
  .main {
    background-color: #f3f2f5;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    display: flexbox;
  }
}

.App-header {
  background-color: #1b3b5d;
  resize: inherit;
}

.App {
  text-align: center;
}

.App-footer {
  background-color: #1b3b5d;
}

.home {
  padding-bottom: 100px;
}
