.main {
  background-color: #f3f2f5;
  padding-left: 0px;
}

.App-header {
  background-color: #1b3b5d;
  resize: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  /* background-image: url("../immagini/camerino.png");
  background-repeat: no-repeat;
  background-size: cover; */
}

.App-footer {
  background-color: #1b3b5d;
}

.home {
  padding-bottom: 100px;
}
