@media only screen and (min-device-width: 1224px) {
  .divHeader {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
  }
  .social {
    color: white;
    font-size: 14px;
    margin-right: 16px;
    margin-top: 8px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1224px) {
  .divHeader {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
  }

  .social {
    color: white;
    font-size: 14px;
    margin-left: 20px;
    padding-left: 16px;
    margin-top: 8px;
  }
}

.navslinkheader {
  color: white;
  font-size: 14px;
  margin-top: 8px;
}

.navslinkheader:hover {
  color: gray;
}

.navHeader {
  margin-left: 20px;
}

.socials {
  margin-left: 10px;
  margin-bottom: 10px;
}
