.divHeader {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.navslinkheader {
  color: white;
  font-size: 14px;
  margin-top: 8px;
}

.navslinkheader:hover {
  color: gray;
}

.navHeader {
  margin-left: 20px;
}

.social {
  color: white;
  font-size: 14px;
  margin-right: 16px;
  margin-top: 8px;
}

.socials {
  margin-left: 10px;
  margin-bottom: 10px;
}
