.container-fluid {
  font-family: "Segoe UI", sans-serif;
  color: white;
  font-weight: 500;
  line-height: 1.2;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.custom,
.btn {
  padding-left: 22px;
  background-color: transparent;
}

.cardAccordion {
  border: 0px;
}

.accordionMenu {
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: normal;
  background: rgb(255, 255, 255);

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.accordionMenu:hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 15%,
    rgba(213, 230, 249, 1) 47%,
    rgba(175, 208, 243, 1) 67%
  );
}

.menuBody {
  border: solid 8px #dfe5e5;
}

.dropdown-item:hover {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 15%,
    rgba(213, 230, 249, 1) 47%,
    rgba(175, 208, 243, 1) 67%
  );
}

.dropdown-item:focus {
  color: black;
  background-color: #afd0f3;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
  padding-left: 0px;
  padding-right: 0px;
}

.arrowDown {
  width: 16px;
  height: 16px;
}

.hamburger {
  width: 30px;
  height: 30px;
}

/* .btn.btn-primary {
  border: transparent;
}
.btn.btn-primary:focus {
  background: transparent;
  border: transparent;
} */

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255);
}

.noprofile {
  background-color: #1b3b5d;
}

.future {
  background: linear-gradient(
    90deg,
    rgba(27, 59, 93, 1) 0%,
    rgba(27, 59, 93, 1) 31%,
    rgba(120, 170, 223, 1) 100%
  );
}

.student {
  background: linear-gradient(
    90deg,
    rgba(27, 59, 93, 1) 0%,
    rgba(33, 71, 112, 1) 26%,
    rgba(39, 155, 139, 1) 100%
  );
}

.graduate {
  background: linear-gradient(
    90deg,
    rgba(27, 59, 93, 1) 0%,
    rgba(24, 65, 109, 1) 27%,
    rgba(191, 69, 69, 1) 100%
  );
}

.professor {
  background: linear-gradient(
    90deg,
    rgba(27, 59, 93, 1) 0%,
    rgba(24, 71, 109, 1) 28%,
    rgba(145, 65, 132, 1) 100%
  );
}

.staff {
  background: linear-gradient(
    90deg,
    rgba(27, 59, 93, 1) 0%,
    rgba(26, 70, 117, 1) 39%,
    rgba(155, 155, 63, 1) 100%
  );
}

.enterprise {
  background: linear-gradient(
    90deg,
    rgba(32, 70, 110, 1) 0%,
    rgba(38, 90, 121, 1) 48%,
    rgba(133, 125, 125, 1) 82%
  );
}
