.firstTitle {
  padding-top: 20px;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  color: #1b3b5d;
}

.secondValue {
  text-align: center;
  margin-top: 20px;
  color: #1b3b5d;
  font-size: 56px;
  font-family: "Segoe UI", sans-serif;
}

.thirdInfo {
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 30px;
  color: #1b3b5d;
}
@media only screen and (min-device-width: 1224px) {
  .containerStatistics {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1224px) {
  .containerStatistics {
    display: none;
  }
}
