.nav-pills .nav-link.active,
.nav-pills .show > .navslink {
  color: #fff;
  background-color: #1b3b5d;
  margin-right: 0px;
  margin-left: 0px;
}

.navsLink {
  border: 1px solid gray;
  margin-right: 0px;
  margin-left: 0px;
  color: #1b3b5d;
}

.first {
  padding-right: 0px;
  padding-left: 80px;
  margin-left: 600px;
}

.second {
  padding-right: 50px;
  padding-left: 0px;
  margin-right: 600px;
}

.first-row {
  margin-top: 100px;
}

.second-row {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
  width: inherit;
  margin-bottom: 50px;
}
