.nav-pills .nav-link.active,
.nav-pills .show > .navslink {
  color: #fff;
  background-color: #1b3b5d;
  margin-right: 0px;
  margin-left: 0px;
}

.navsLink {
  border: 1px solid gray;
  margin-right: 0px;
  margin-left: 0px;
  color: #1b3b5d;
}

.first {
  padding-right: auto;
  padding-left: auto;
  margin-left: 600px;
}

.second {
  padding-right: auto;
  padding-left: auto;
  margin-right: 600px;
}

.first-row {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.second-row {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
  margin-bottom: 50px;
}
